logs/*
__pycache__/*
.ipynb_checkpoints/*
mandubian/*.pth
mandubian/runs/
mandubian/checkpoints/
mandubian/.ipynb_checkpoints/
mandubian/__pycache__/*
mandubian/transformer/__pycache__/*

checkpoints/*
